@import "_variables.scss";
@import "typography.scss";


//this is a function 
@mixin display-flex(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// this mixin is dynamic and it passes a parameter and then add your argument in the code . @content allows you to add the content you want inside the mixin 
@mixin media-min-width($width){
  @media (min-width: $width) {
    @content;
  }
}

html {
  font-size: 94.75%;
// this is were the mixin has been called and the 40rem is replaced as your argument and the font-size is the @content 
  @include media-min-width(40rem){
    font-size: 125%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
 // this is how you add the mixin function @includes
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: center;
  //we are using the size and times it by 3
  padding: $size-default * 3, 0;
  box-sizing: border-box;
}

.sass-section {
  border: $border-default;
  //this is the function that is in the docs lots of different functions and we are calling the map and the then adding a percentage to the color to change it slightly
  background: lighten(map-get($colors, main), 60%);
  padding: 2rem;
  text-align: center;
  width: 90%;
  box-sizing: border-box;

  @include media-min-width(40rem){
    width:30rem;
  }
}

.sass-introduction {
  //this is extend class were  there were the same things in both intro and details so we made a class but did not have to name it in the html and just adding the extend this  will add the class properties to the classes 
  @extend .sass-section;
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;

  p {
    margin: 0;
  }
}

.sass-details {
  @extend .sass-section;
  margin: 2rem 0;
}

.section-header {
  border-bottom: $border-default;

  h1 {
    margin: 0 0 1rem 0;
  }
}
.documentation-links {
  list-style: none;
  margin: $size-default 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;

  li {
    margin: 0.2rem 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: 0.2rem;
    border: $border-default;

    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  }
}

.container {
  padding: $size-default * 3, 0;
}
